body {
    margin : 20;
   
}

#header {
    background-color: white;
    width: 100%;
    height: 70px;
}
.main-nav {
    float: right;
    
}
.main-nav ul li {
    display: inline-block;
    margin: 0px 10px;

}


.main-nav ul li a {
    color: black;
    font-weight: bold;
    
    
}

.main-nav ul li a.active {
    color: white;
    background-color: #EFE983;
    
}

#home {
    width: 100%;
    height: 500px;
}

#home img {
    position: absolute;
}
.content {
    position: absolute;
    color:black;
    float: right;
    margin: 40px 20px 20px 700px;
}

.content span {
    color:#AFA712;
}

.content button1 {
    background-color: #AFA712;
}