body {
    margin : 20;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav.main-nav li{
    margin: 20px auto;
    display: inline-block ;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type:none ;
    padding: 0 30px 0 0px;
    text-align: center;

    

nav.main-nav {
    color: blue;
}